$font-main: 'Noto Sans KR', sans-serif;
$font-price: 'Tahoma', sans-serif;

$font-size-12: 12px;
$line-heghit-12: 16px;
$letter-spacting-12: -0.005em;

$font-size-13: 13px;
$line-heghit-13: 20px;
$letter-spacting-13: -0.01em;

$font-size-14: 14px;
$line-heghit-14: 24px;
$letter-spacting-14: -0.01em;

$font-size-16: 16px;
$line-heghit-16: 24px;
$letter-spacting-16: -0.01em;

$font-size-18: 18px;
$line-heghit-18: 28px;
$letter-spacting-18: -0.02em;

$font-size-24: 24px;
$line-heghit-24: 34px;
$letter-spacting-24: -0.01em;
